.login_container{
    -fx-background-color: rgb(4, 25, 61);
    -fx-alignment: center;
}
.account_selector{
    -fx-background-color: rgb(4, 25, 61);
}
.account_selector .label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}
.account_selector .arrow{
    -fx-background-color: #132A13;
}
#choice-box-popup-menu{
    -fx-background-color:#ECF39E;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}
.login_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight:bold ;
}
.input_field{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}
.login_form_container Button {
    -fx-background-color:rgb(4, 25, 61);
    -fx-text-fill: white;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}
.login_form_container Button:hover{
    -fx-cursor: hand;
}

.error_lbl{
    -fx-text-fill: red;
}

#choice-prompt-text{
    -fx-font-weight:400 ;
}
.login_logo_container{
    -fx-background-color: #3db964;
    -fx-alignment: center;
}
.login_logo_container Text{
    -fx-font-size: 2em;
    -fx-fill: white;
    -fx-alignment: center;
}
.login_logo_container FontAwesomeIconView{
    -fx-fill: #ffffff;
}


